<header>
	<h1>projet audio</h1>
</header>
<main>
	<section class="contact">
		<h2> Contact</h2>
		<div class="contact-col2 un">
			<form>
				<p> Name <span>(required)</span></p>
				<input type="text" required/>
				<p> Email <span>(required)</span></p>
				<input type="email" required/>
				<p> Website</p>
				<input type="text"/>
				<p> Comment <span>(required)</span></p>
				<textarea rows="12"></textarea>
				<input type="submit" value="SUBMIT >>"/>
			</form>
		</div>
		<div class="contact-col2 deux">
			<input type="text" placeholder="Search..." />
			<div class="latest">
				<h2> Latest news</h2>
				<h3>Welcome to our redesigned website</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>APRIL 1, 2015</p>

				<h3>New tour dates posted</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>DECEMBER 16, 2014</p>

				<h3>History of Popular Music</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>DECEMBER 15, 2014</p>
			</div>
	</section>