<header class="home_header">
	<h1>projet audio</h1>
	<p>subtitle...</p>
</header>
<main>
	<section class="home_videos">
		<div class="container_titre">
			<div class="titre">
				<h2>videos</h2>
			</div>
			<div class="titre">
				<p>all videos</p>
			</div>
		</div>
		<div class="home_videos-col3 video1">
			<img src="/assets/video-like-a-rose-530x300.jpg" alt="album" />
			<p>Like a rose - ashley monroe</p>
		</div>
		<div class="home_videos-col3 video2">
			<img src="/assets/video-big-love-550-530x300.jpg" alt="album" />
			<p>Big love - carrie rodriguez</p>
		</div>
		<div class="home_videos-col3 video3">
			<img src="/assets/video-waitin-on-june-530x300.jpg" alt="album" />
			<p>Waiting on june - holly williams</p>
		</div>
	</section>

	<section class="home_gigs">
		<div class="titre">
			<h2>upcoming gigs</h2>
		</div>
		<div class="list_gigs">
			<table>
				<tr>
					<td class="mois">sep</td>
					<td class="jour">14</td>
					<td class="ville">Nashville, TN</td>
					<td class="lieu">The Bluebird Cafe</td>  
				</tr>
				<tr>
					<td class="mois">sep</td>
					<td class="jour">16</td>
					<td class="ville">Seattle, WA</td>
					<td class="lieu">Tractor Tavern</td>  
				</tr>
				<tr>
					<td class="mois">sep</td>
					<td class="jour">17</td>
					<td class="ville">Alexandria, VA</td>
					<td class="lieu">The Birchmere</td>  
				</tr>
				<tr>
					<td class="mois">sep</td>
					<td class="jour">25</td>
					<td class="ville">Washington, DC</td>
					<td class="lieu">The Hamilton</td>  
				</tr>
				<tr>
					<td class="mois">oct</td>
					<td class="jour">30</td>
					<td class="ville">Chipping Ongar, Essex</td>
					<td class="lieu">Zinc Arts Centre</td>  
				</tr>
			</table>
			<p><a href="#">view all gigs</a></p>
		</div>
	</section>